/* .image1 {
width: 100%;

} */




body{
    margin: 0  auto;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #734AF6;
    color: white;
    padding: 0 40px;
    letter-spacing: 0.08em;
}
nav > div{
    display: flex;
    align-items: center;
}
nav  ul {
    display: flex;
    gap: 2em;
    list-style: none;
}
nav  ul a {
    text-decoration: none;
    color: white;
    transition: 100ms;
    cursor: pointer;
}
nav  ul a:hover {
    transform: scale(1.2);
    color: greenyellow;
}
.hero-section {
    height: 50vh;
    width: 100%;
    background-image: url("../assets/deux-manettes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.glassy-div{
    color: white;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(129, 95, 238, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(129, 95, 238, 1);
   
}
.glassy-div h2{
    text-shadow: 0px 8px 10px rgb(97, 23, 89);
    font-size: 2em;
    text-align: center;
}
.glassy-div p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.609);
}





























/* -----------------------GOUNDO  */
.texte {
justify-content: flex-start;
margin: 150px;
text-align: left;
background-color: rgb(203, 196, 196);


}

.image2 {
justify-content: end;
height: 600px;


}

.bloc {
display: flex;
margin: 20px;


}
        
.texte {

padding: 50px;

}



/* ----------------------GOUNDO  */
footer{
    background-color: black;
    color: white;

    
}
.coordonee  {
    text-align: center;
    display: flex ;
    align-items: center;
    padding: 0 15em;
    justify-content: space-between;
}
.address-number{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coordonee h3{
    width: 100%;
    font-size: 2em;
    text-align: center;
}
.address-number div{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3em;
    letter-spacing: 0.1em;
}
.contact-social-media{
    display: flex;
    width: 100%;
    margin-top: 25px;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.contact-social-media a {
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
}
.contact-social-media a:hover{
    transform: scale(1.5);
}
.copy-write p {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    padding: 10px 0;
}


